:root {
  --indigo-bg-color: #4B0082;
  --top-color-brown: #822500;
  /* #4B0082 */
  --sidebar-btn-hover-bg: #ccc7dd;
  --sidebar-btn-hover-bg2: #ddcdc7;
  /* #ccc7dd */
  --sidebar-bg-color: #69358fe8;
  --sidebar-bg2-color: #8f4835e8;
  /* #69358fe8 */
  --dashboard-card-bg-color: #d8d2e7;
  --dashboard-card-bg2-color: #e7d7d2;;
  /* #d8d2e7 */
  --dashboard-card-txt-color: #70329d;
  /* #70329d */

  --top-color-new: #ae7e28;
  --top-background-color: #dee1e6;
  --top-btn-background: #f1f3f4;
  --cards-background: #f3e9d5;
  --top-card-hover-background: #e6e4de;
}



.ant-input-search-button {
  background-color: #9185b5;
}

/* .ant-input-search-button:hover {
    background-color: ;
  } */

.ant-input-search-button:hover {
  background-color: #6957a0;
  color: #fff;
}


/* AdminHeader */
.main-header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  color: #000;
  height: 50px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  padding: 0px 20px
}

/*Admin Drower*/
.sidebar-admin-drower {
  display:flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 10px;
  background: var(--top-background-color);
  border: solid #cbc8c7 1px;
  width: 100%;
  padding-top: 8px;
  font-size: 14px;
}

/*pie card*/
.section-pie {
    margin: 0px 20px 20px 20px;
    padding: 10px;
    background: var(--top-btn-background);
    border-radius: 20px;
    /* box-shadow: rgb(145 133 181) 7px 7px 8px; */
}

/*Dashboard*/

.DashbordButtons {
  display: flex;
  padding: 9px;
  min-width: 150px;
  background: var(--top-color-new);
  padding: 8px;
  margin-bottom: 2px;
  color: #fff;
}

.DashbordButtons:hover, .active {
  background: var(--top-btn-background) !important;
  color: var(--top-color-new) !important;
}

.adminDashbordCard {
  height: 100px;
  background: var(--cards-background);
  border: var(--top-color-new) solid 1px;
  color: var(--top-color-new);
  border-radius: 10px 0;
  /* box-shadow: 7px 8px 8px #8f6daa; */
  min-width: 200px;
  cursor: pointer;

}

.adminDashbordCard:hover, .active-dashbord-card {
  background: var(--top-card-hover-background) !important;
  color: var(--top-color-new) !important;
}

.sub-menu-card {
  min-width: 135px;
  max-width: 185px;
  min-height: 90px;
  max-height: 100px;
  background: var(--cards-background);
  border-radius: 5px;
  /* box-shadow: 10px 10px 7px -3px rgb(0 0 0 / 20%); */
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  color: var(--top-color-new);
  border: 1px solid var(--top-color-new);
}

.sub-menu-card:hover, .sub-menu-card-active{
  color: var(--top-color-new) !important;
  background-color: var(--top-card-hover-background) !important;

}

/* Set the scrollbar color*/
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  /* width of the scrollbar */
}

/* Set the background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #d2d1d4;
}

/* Set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
  border:gray 1px solid;
}

/* Set the color of the scrollbar thumb on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #8e85a8;
}*/