.rdw-block-wrapper,
.rdw-dropdown-selectedtext,
.rdw-fontsize-wrapper,
.rdw-fontfamily-wrapper,
.rdw-option-disabled,
.rdw-colorpicker-wrapper,
.rdw-embedded-wrapper,
.rdw-emoji-wrapper,
.rdw-image-wrapper,
.rdw-remove-wrapper {
  display: none;
}

.rdw-editor-wrapper {
  border-radius: 10px;
  margin-top: 21px;
  padding: 10px;
}

.rdw-editor-toolbar {
  justify-content: center;
  border: 1px solid #b8b4b4;
  border-radius: 5px;
  padding: 10px;

}

.rdw-editor-main {
  border: 1px solid #b8b4b4;
  border-radius: 5px;
  padding: 10px;
}